
body {
    margin: 0px 0px 0px 0px;
    background-image: url('http://img4.wikia.nocookie.net/__cb30/mahouka-koukou-no-rettousei/images/5/50/Wiki-background');
}

#logo {
    float: left;
    margin-left: -30px;
    padding-right: 10px;
    background-image: url('http://img4.wikia.nocookie.net/__cb30/mahouka-koukou-no-rettousei/images/5/50/Wiki-background');
}

#pagetitle {
    clear: left;
    color: #D5D4D4;
    font-family: Lucida Sans Italic,Georgia;
    font-size: 48px;
    background-image: inherit;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: -20px;
}

h1 {
    clear: left;
    color: #D5D4D4;
    font-family: Lucida Sans Italic,Georgia;
    font-size: 28px;
    background-image: inherit;
}

.wrapper {
    background-image: url('http://img4.wikia.nocookie.net/__cb30/mahouka-koukou-no-rettousei/images/5/50/Wiki-background');
    margin-left: 30px;
}

#navBar {  
    color: white;
    height: 25px;
    line-height: 28px;
    

}

#navBar nav {
    background-color: #2CA79A;

}

#navBar a {
    color: white;
    text-decoration: none;
    height: 25px;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 10px;
    display: inline-block;
    font-size: 20px;
}

#navBar a:hover {
    text-decoration: underline;
}

#content {
    background-image: url('http://img4.wikia.nocookie.net/__cb30/mahouka-koukou-no-rettousei/images/5/50/Wiki-background');
    color: #D5D4D4;
    clear: left;
    border-top: 5px solid #2CA79A;
    margin-top: 30px;
    line-height: 1.25;
}

#content #table {
    float: right;
    background-color: #262626;
    border: 1px solid #525252;
    margin-left: 30px;
    line-height: 1;
}

#content #table table {
    border: 1px solid #525252;
}

#content #table th {
    background-color: #5A978A;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

#nonsystematic img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content #table tr td p, #content #table tr td span, #content #table tr td li {
    margin-left: 10px;
}

#content #table .pinfo {
    word-wrap: normal;
}

#background {
    padding-bottom: 20px;
}

#wrapper #physical, #magical {
    padding-right: 30px;
}

#content div ul li {
    padding-bottom: 10px;
}

#mobilesuit {
    padding-bottom: 30px;
}

.wrapper ul li a {
    color: #6EC0AE;
    text-decoration: none;
}

.wrapper ul li a:hover {
    text-decoration: underline;
}
